- var rootURL = "<?php echo get_template_directory_uri(); ?>"
- var styleURL = "<?php echo get_template_directory_uri(); ?>"
- var imageURL = "<?php echo get_template_directory_uri(); ?>/images"
- var siteName = "サイト名"
- var ogpPath = "./"