title!= `${siteName}` 
meta(http-equiv="content-script-type" content="text/javascript")
meta(charset="UTF-8")
meta(name="format-detection" content="telephone=no")
link(rel="shortcut icon" href="assets/images/favicon.ico")
link(rel="stylesheet" href!= `${styleURL}/style.css`)
meta(http-equiv="content-script-type" content="text/javascript")
meta(name="viewport" content="width=device-width")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")