include /_config
footer.l-footer.js-footer
  .inside
    .footerLeft
      .footerNews
      
    .footerRight
      .footerLogo
        img.back(src!= `${imageURL}/footCap.svg`)
        //- .footerSiteMapBtn
        //-   | Site Map
        .footerCopyLight
          | ©︎test.inc,inc2099 All rights reserved.
